[submodule "lib/til"]
	path = lib/til
	url = https://github.com/efrecon/til.git
[submodule "lib/toclbox"]
	path = lib/toclbox
	url = https://github.com/efrecon/toclbox.git
[submodule "lib/tockler"]
	path = lib/tockler
	url = https://github.com/efrecon/tockler.git
